body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
}

ul.toggles {
    list-style-type: none;
    padding: 0;
    display: flex;
}

ul.toggles li {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #696a6b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

ul.toggles li.selected {
    background-color: #5c5d5e;
}

button.run {
    background-color: #e4eae6;
    color: rgb(16, 16, 16);
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.codePlayer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    height: 400px; 
}

.codeContainer {
    width: 30%; 
    display: none; 
}

textarea.editor {
    width: 90%;
    height: 300px;
    padding: 10px;
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid #ddd;
}

iframe.result {
    width: 90%; 
    height: 320px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
}
